<div class="row mt-5">
    <h1>
        {{ jugador.cod_jugador ? 'Edit' : 'New'}}
        Jugador
        <small>{{ jugador.nombre }}</small>
    </h1>

    <div class="col-md-6 col-sm-12 mx-auto">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Introduzca un nombre"
                            [(ngModel)]="jugador.nombre">
                    <span class="form-text text-danger"
                    *ngIf="validField('nombre')"
                    >Nombre no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Equipo</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="equipo"
                            placeholder="Introduzca el nombre de un equipo"
                            [(ngModel)]="jugador.equipo.nombre_equipo">
                    <span class="form-text text-danger"
                    *ngIf="validField('nombre')"
                    >Nombre no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="telefono"
                            placeholder="Introduzca numero de telefono"
                            [(ngModel)]="jugador.telefono">
                    <span class="form-text text-danger"
                    *ngIf="validField('telefono')"
                    >Telefono no puede estar vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Goles</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="goles"
                            placeholder="Introduzca numero de goles"
                            [(ngModel)]="jugador.goles">
                    <span class="form-text text-danger"
                    *ngIf="validField('goles')"
                    >Goles no puede estar vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Altura</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="altura"
                            placeholder="Introduzca una altura"
                            [(ngModel)]="jugador.altura">
                    <span class="form-text text-danger"
                    *ngIf="validField('altura')"
                    >Altura no puede estar vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Tarjetas</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="tarjetas"
                            placeholder="Introduzca numero de telefono"
                            [(ngModel)]="jugador.tarjetas">
                    <span class="form-text text-danger"
                    *ngIf="validField('tarjetas')"
                    >Tarjetas no puede estar vacio</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Activo</label>
                <div class="col-sm-9">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" 
                        type="checkbox"
                        formControlName="activo">
                        <label class="form-check-label" for="flexSwitch">
                            Seleccione si se encuentra en activo</label>
                    </div>
                </div>
            </div>
            <!--            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Activo</label>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" 
                        type="radio" 
                        value="S"
                        formControlName="activoSi" 
                        id="siRadio">
                        <label class="form-check-label" for="siRadio">Si</label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" 
                        type="radio" 
                        value="N" 
                        formControlName="activoNo"
                        id="noRadio" 
                        >
                        <label class="form-check-label" for="noRadio">No</label>
                    </div>
                </div>
            </div>-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Puesto</label>
            <!--    <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="puesto"
                            placeholder="Introduzca puesto de juego">
                    <span class="form-text text-danger"
                    *ngIf="validField('puesto')"
                    >Tiene que jugar en una posicion</span>
                </div>-->
                <br><br>
                <select formControlName="puesto" [(ngModel)]="jugador.puesto"> 
                    <option *ngFor="let puesto of puestos" [ngValue]="puesto">
                        {{puesto}}
                    </option>
                </select>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            (click)="save()"
                            (keyup.enter)="save()"
                            [disabled]="myForm.invalid">
                            Guardar cambio
                    </button>
                </div>
            </div>

        </form>
        <br><br>
</div>
<br><br><br>
<div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-warning" [routerLink]="['/jugadores/list']">
            Volver
        </button>

        <button class="btn btn-danger" (click)="deleteJug()" *ngIf="jugador.cod_jugador">
            Borrar jugador
        </button>
    </div>
</div>
</div>