<div cols=1 *ngIf="!empleado; else divEmpleado">

</div>
    <ng-template #divEmpleado>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ empleado.nombre}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="col-sm-5">
                        ID EMPLEADO</h3>
                    <p class="col-sm-5"> {{ empleado.cod_emp }}</p>
                </div>
    
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="col-sm-5">
                        DIRECCION
                    </h3>
                    <p class="col-sm-5">{{ empleado.direccion }}</p>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="col-sm-5">
                        DNI
                    </h3>
                    <p class="col-sm-5">{{ empleado.dni }}</p>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="col-sm-5">
                        TELEFONO</h3>
                    <p class="col-sm-5"> {{ empleado.telefono }}</p>
                </div>
    
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="col-sm-5">
                        NOMBRE DE DEPARTAMENTO
                    </h3>
                    <p class="col-sm-5">{{ empleado.departamento.nombre }}</p>
                </div>
                <div class="d-flex justify-content-center mt-5 mb-5">
                    <h3 class="col-sm-5">
                        CIF DEL DEPARTAMENTO
                    </h3>
                    <p class="col-sm-5">{{ empleado.departamento.federacion.cif }}</p>
                </div>
                <br>
                <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/empleados/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>