<div cols=1 *ngIf="!empleado; else divEmpleado">

</div>
    <ng-template #divEmpleado>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ empleado.nombre}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <h1>{{ empleado.dni }}</h1>
                <br><br>
                    <p> {{ empleado.cod_emp }}</p>
                    <p> {{ empleado.direccion }}</p>
                    <p> {{ empleado.telefono }}</p>
                    <p> {{ empleado.departamento.nombre }}</p>
                    <p> {{ empleado.departamento.federacion.cif }}</p>
                <br>
                <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/empleados/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>