<div cols=1 *ngIf="!torneo; else divTorneo">

</div>
    <ng-template #divTorneo>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ torneo.nombre}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <br><br>
                <h3>
                    ID Torneo : {{ torneo.cod_torneo }}
                </h3><br><br>
                <h3>
                    Descripcion : {{ torneo.descripcion }}
                </h3>
                <br>
                <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/torneos/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>