<div cols=1 *ngIf="!federacion; else divFederacion">
</div>
<ng-template #divFederacion>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
        <div fxFlex="50">
            <h1> {{ federacion.direccion}}</h1>
            <br>
        </div>
        <div fxFlex="50">
            <h1>{{ federacion.cif }}</h1>
            <br><br>
                <p> {{ federacion.cod_federacion }}</p>
                <p> {{ federacion.telefono  }}</p>
            <br>
            <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/federaciones/list']">
                Ir atrás
            </button>
        </div>
    </div>
</ng-template>