<div cols=1 *ngIf="!federacion; else divFederacion">
</div>
<ng-template #divFederacion>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
        <div fxFlex="50">
            <h1> {{ federacion.direccion}}</h1>
            <br>
        </div>
        <div fxFlex="50">
            <h1>{{ federacion.cif }}</h1>
            <br><br>
            <ul>
                <li> {{ federacion.cod_federacion }}</li>
                <li> {{ federacion.telefono  }}</li>
            </ul>
            <br>
            <button class="btn btn-warning" [routerLink]="['/federaciones/list']">
                Ir atrás
            </button>
        </div>
    </div>
</ng-template>