<div class="row mt-5">
    <h1 class="d-flex justify-content-around">
        {{ ciudad.cod_ciudad ? 'Edit' : 'New'}}
        Ciudad
        <small>{{ ciudad.nombre }}</small>
    </h1>

    <div class="col-lg-8 col-md-12 col-sm-12 mx-auto mt-5">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Introduzca un nombre"
                        [(ngModel)]="ciudad.nombre">
                    <span class="form-text text-danger" *ngIf="validField('nombre')">Nombre no puede ir vacio</span>
                </div>
            </div>

            <div class="row mt-5 col-md-12 col-sm-12">
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary col-md-6 col-sm-12" (click)="saveCiudad()"
                        (keyup.enter)="saveCiudad()" [disabled]="myForm.invalid">
                        Guardar cambio
                    </button>
                </div>
            </div>

        </form>
        <br><br>
    </div>
    <br><br><br>
    <div class="d-flex justify-content-around" *ngIf="ciudad.cod_ciudad; else divButtons">
        <div class="row col-md-7 col-sm-11">
            <button class="btn btn-warning col-md-6 col-sm-12 col-xs-12 mb-5" [routerLink]="['/ciudades/list']">
                Volver
            </button>

            <button class="btn btn-danger col-md-6 col-sm-12 col-xs-12 mb-5" (click)="deleteCiudad()">
                Borrar ciudad
            </button>
        </div>
    </div>
    <ng-template #divButtons>
        <div class="d-flex justify-content-around">
            <button class="btn btn-warning col-md-6 col-sm-12 col-xs-12 mb-5" [routerLink]="['/ciudades/list']">
                Volver
            </button>
        </div>
    </ng-template>
</div>