<div class="row mt-5">
    <h1 class="d-flex justify-content-around"> 
        {{ equipo.cod_equipo ? 'Edit' : 'New'}}
        Equipo
        <small>{{ equipo.nombre_equipo }}</small>
    </h1>

    <div class="col-lg-8 col-md-12 col-sm-12 mx-auto mt-5">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="nombre_equipo"
                            placeholder="Introduzca un nombre"
                            [(ngModel)]="equipo.nombre_equipo">
                    <span class="form-text text-danger"
                    *ngIf="validField('nombre_equipo')"
                    >Nombre no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="direccion"
                            placeholder="Introduzca dirección del equipo"
                            [(ngModel)]="equipo.direccion">
                    <span class="form-text text-danger"
                    *ngIf="validField('direccion')"
                    >Direccion no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Fecha de fundación</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="fecha_fundacion"
                            placeholder="Introduzca una fecha"
                            [(ngModel)]="equipo.fecha_fundacion">
                    <span class="form-text text-danger"
                    *ngIf="validField('fecha_fundacion')"
                    >Fecha no puede estar vacio</span>
                </div>
            </div>

            <div class="row mt-5 col-md-12 col-sm-12">
                <div class="d-flex justify-content-around">
                    <button type="submit"
                    class="btn btn-primary col-md-6 col-sm-12"
                            (click)="saveEquipo()"
                            (keyup.enter)="saveEquipo()"
                            [disabled]="myForm.invalid">
                            Guardar cambio
                    </button>
                </div>
            </div>

        </form>
        <br><br>
</div>
<br><br><br>
<div>
    <div class="d-flex justify-content-around" *ngIf="equipo.cod_equipo; else divButtons">
        <div class="row col-md-7 col-sm-11">
            <button class="btn btn-danger col-md-6 col-sm-12 col-xs-12 mb-5" (click)="deleteEquipo()">
                Borrar equipo
            </button>

            <button class="btn btn-warning col-md-6 col-sm-12 col-xs-12 mb-5" [routerLink]="['/equipos/list']">
                Volver
            </button>
        </div>
    </div>
    <ng-template #divButtons>
        <div class="d-flex justify-content-around">
            <button class="btn btn-warning col-md-6 col-sm-12 col-xs-12 mb-5" [routerLink]="['/equipos/list']">
                Volver
            </button>
        </div>
    </ng-template>
</div>
</div>