<div class="row mt-5">
    <h1>
        {{ federacion.cod_federacion ? 'Edit' : 'New'}}
        Federacion
        <small>{{ federacion.direccion }}</small>
    </h1>

    <div class="col-md-6 col-sm-12 mx-auto">
        <form autocomplete="off" [formGroup]="myForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">CIF</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="cif"
                            placeholder="Introduzca un CIF"
                            [(ngModel)]="federacion.cif">
                    <span class="form-text text-danger"
                    *ngIf="validField('cif')"
                    >CIF no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="direccion"
                            placeholder="Introduzca dirección del equipo"
                            [(ngModel)]="federacion.direccion">
                    <span class="form-text text-danger"
                    *ngIf="validField('direccion')"
                    >Direccion no puede ir vacio</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            formControlName="telefono"
                            placeholder="Introduzca un telefono"
                            [(ngModel)]="federacion.telefono">
                    <span class="form-text text-danger"
                    *ngIf="validField('telefono')"
                    >Telefono no puede estar vacio</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            (click)="saveFederacion()"
                            (keyup.enter)="saveFederacion()"
                            [disabled]="myForm.invalid">
                            Guardar cambio
                    </button>
                </div>
            </div>

        </form>
        <br><br>
</div>
<br><br><br>
<div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-warning" [routerLink]="['/federaciones/list']">
            Volver
        </button>

        <button class="btn btn-danger" (click)="deleteFederacion()" *ngIf="federacion.cod_federacion">
            Borrar federacion
        </button>
    </div>
</div>
</div>