<div cols=1 *ngIf="!jugador; else divJugador">

</div>
    <ng-template #divJugador>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ jugador.nombre}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <h1>{{ jugador.nombre }}</h1>
                <br><br>
                    <p> {{ jugador.telefono }}</p>
                    <p> {{ jugador.puesto  }}</p>
                    <p> {{ jugador.goles  }}</p>
                    <p> {{ jugador.altura  }}</p>
                    <p> {{ jugador.tarjetas  }}</p>
                    <p> {{ jugador.activo  }}</p>
                    <p> {{ jugador.fecha_nacimiento | date  }}</p>
                <br>
                <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/jugadores/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>