<div cols=1 *ngIf="!jugador; else divJugador">

</div>
    <ng-template #divJugador>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ jugador.nombre}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <h1>{{ jugador.nombre }}</h1>
                <br><br>
                <ul>
                    <li> {{ jugador.telefono }}</li>
                    <li> {{ jugador.puesto  }}</li>
                    <li> {{ jugador.goles  }}</li>
                    <li> {{ jugador.altura  }}</li>
                    <li> {{ jugador.tarjetas  }}</li>
                    <li> {{ jugador.activo  }}</li>
                </ul>
                <br>
                <button class="btn btn-warning" [routerLink]="['/jugadores/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>