<h1>Jugadores List</h1>
<br>

<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayoyutGap="20px" class="text-center">

    <table class="table table-striped">
        <!--Card es un componente hijo del componente lista-->
        <thead>
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> Telefono </th>
                <th scope="col"> Puesto </th>
                <th scope="col"> Goles </th>
                <th scope="col"> Altura </th>
                <th scope="col"> Tarjetas </th>
                <th scope="col"> Activo </th>
                <th scope="col"> Fecha de nacimiento </th>
                <th scope="col"> Informacion </th>
                <th scope="col"> Edicion </th>
            </tr>
        </thead>
        <tbody fxFlex="30" fxFlex.xl="15" fxFlex.lg="15" fxFlex.sm="30">
            <tr *ngFor="let jugador of jugadores">
                <td>{{ jugador.cod_jugador}}</td>
                <td>{{ jugador.nombre}}</td>
                <td>{{ jugador.telefono}}</td>
                <td>{{ jugador.puesto}}</td>
                <td>{{ jugador.goles}}</td>
                <td>{{ jugador.altura}}</td>
                <td>{{ jugador.tarjetas}}</td>
                <td>{{ jugador.activo }}</td>
                <td>{{ jugador.fecha_nacimiento | date }}</td>
                <td><button [routerLink]="['/jugadores',jugador.cod_jugador]" type="button" class="btn btn-primary">Mas información</button></td>
                <td><button [routerLink]="['/jugadores/edit',jugador.cod_jugador]" type="button" class="btn btn-dark">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>