#background{
    background-image: url('./assets/background.jpg');
    width: 1598px;
    height: 888px;
    background-size: cover;
    
}

h1,h2,th,form,h3{
    color: white;
}

td,p{
    color: orange;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

input,select{
    opacity: 0.8;
}


.listColor{
    background-color: rgba(70,71,62,0.2); 
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
