<div cols=1 *ngIf="!equipo; else divEquipo">

</div>
    <ng-template #divEquipo>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <div fxFlex="50">
                <h1> {{ equipo.nombre_equipo}}</h1>
                <br>
            </div>
            <div fxFlex="50">
                <h1>{{ equipo.nombre_equipo }}</h1>
                <br><br>
                    <p> {{ equipo.direccion }}</p>
                    <p> {{ equipo.fecha_fundacion  }}</p>
                    <p> {{ equipo.jugadores  }}</p>
                    <p> Numero torneos: {{ equipo.torneos.length  }}</p>
                <br>
                <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12 mb-5" [routerLink]="['/equipos/list']">
                    Ir atrás
                </button>
            </div>
        </div>
    </ng-template>